<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YSDI</title>

    <link href="{{ url_for('static', filename="style.css") }}?1.0082" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pageUpdate.js') }} ?1.33"></script>

</head>

<body>
    <header>
        <div class="title">
            <h1 id="big-title">YSDI</h1>
        </div>
    </header>

    {% if end==1 %}
        <p class="finished">
        <br><br>
        You finished your study session.
        </p>

    {% else %}

        <div class="intro">
            <p>
                Welcome to YSDI. Here you can interact with the system and find some useful info.<br>
                We reccomend you tare the system before you start: press the "Tare" button<br>
                and don't make extra noise for about 4 seconds.<br>
                Good luck!<br><br>
            </p>
        </div>

        <div class="button-section">
            <div class="row">
                <button id="tare-button" class="command-button">Tare</button>
                <button id="score-button" class="command-button">Update Score</button>
            </div>

            <div class="row">
                <button id="break-button" class="command-button">Take a break</button>
                <button id="stop-button" class="command-button">Stop studying</button>
            </div>

            <div class="row">
                <button id="repeating-button" class="long-button">Repeat <br>while standing</button>
            </div>

            <div class="breaks">
                <p class="info-of-service" id="break-text">Which kind of break do you need?</p>

                    <button class="break-button" id="break-coffee-button">Coffee</button><br>
                    <button class="break-button" id="break-nap-button">Nap or walk outside</button><br>
                    <button class="break-button" id="break-spend-button">Spend points</button><br>
                    <div class="distractions">
                        <p class="info-of-service" id="spend-text">How do you want to spend your points?<br><br>
                            <button class="device-button" id="generic-dev-button" class="spend-button">Device1</button><br>
                        </p>
                    </div>

                    <button class="break-button" id="break-study-button">Keep studying</button>

            </div>

        </div>



        <div class="score-section">
            <p class="info-of-service">
                <br>
                <span id="init">Taring . . .</span><br>
                (complete updates occur every 15 seconds)<br>
            </p>
            <p class="your-score">
                Your score:<br>
                <span id="score">0</span>
                <br><br>
            </p>
        </div>


        <p class="debug">
            <br>
            Current mic tare: <span id="mic-tare"></span><br>
            N of visited sites: <span id="sites-number"></span><br>
            N of times i heard you speaking: <span id="speak-number"></span><br><br>
        </p>
        <p class="debug" id="ip" myIp={{ myIp }}>{{ myIp }}</p> <!-- DISPLAY:NONE SET BY THE JS, IS NEEDED TO PASS THE NEW IP EACH TIME-->

    {% endif %}

</body>
</html>